#request {
    display: none; /* Hidden by default */ 
}

#requestBody{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /*cursor: pointer;  Add a pointer on hover */
}

#requestForm {
    height: auto; 
    width: 20em; 
    background-color:grey; 
    padding: 2em;
    border-radius: 25px;
}

#close:hover {
    color: white;
    cursor: pointer;
}

#vertImg {
    margin: 1em 2em;
}

#fullImg {
    margin: 1em 1em;
}

#formError {
    display: none;
}

#formCross {
    color: darkred;
}

@media (min-width: 1400px){

    #fullImg {
        margin: 1em 10em;
    }

    #vertImg {
        margin: 1em 18em;
    }

}

@media (min-width: 1200px) and (max-width: 1399px){

    #fullImg {
        margin: 1em 7em;
    }

    #vertImg {
        margin: 1em 14em;
    }

}

@media (min-width: 992px) and (max-width: 1199px){

    #fullImg {
        margin: 1em 7em;
    }

    #vertImg {
        margin: 1em 10em;
    }

}

@media (min-width: 768px) and (max-width: 991px){

    #vertImg {
        margin: 1em 6em;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    #fullImg {
        margin: 1em 7em;
    }

    #vertImg {
        margin: 1em 10em;
    }

}